<div class="py-16 px-6 lg:px-20 bg-green-50 font-sans">
    <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-3 gap-8">
      <!-- Formación 1 -->
      <div class="group relative h-64 overflow-hidden rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div 
          class="absolute inset-0 bg-cover bg-center filter blur-sm opacity-80"
          style="background-image: url('https://via.placeholder.com/400');">
        </div>
        <div class="relative z-10 flex items-center justify-center h-full flex-col">
          <h2 class="text-2xl font-bold text-black-600">TEST 1</h2>
          <p>Texto de ejemplo</p>
          <br>
          <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
    data-preference-id="211813070-a845441a-70bd-4447-a431-a74db8d6a095" data-source="button">
    </script>
        </div>
      </div>
  
      <!-- Formación 2 -->
      <div class="group relative h-64 overflow-hidden rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div 
          class="absolute inset-0 bg-cover bg-center filter blur-sm opacity-80"
          style="background-image: url('https://via.placeholder.com/400');">
        </div>
        <div class="relative z-10 flex items-center justify-center h-full flex-col">
          <h2 class="text-2xl font-bold text-black-600">TEST 2</h2>
          <p>Texto de ejemplo</p>
          <br>
          <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
    data-preference-id="211813070-a845441a-70bd-4447-a431-a74db8d6a095" data-source="button">
    </script>
        </div>
      </div>

      <!-- Formación 3 -->
      <div class="group relative h-64 overflow-hidden rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105">
        <div 
          class="absolute inset-0 bg-cover bg-center filter blur-sm opacity-80"
          style="background-image: url('https://via.placeholder.com/400');">
        </div>
        <div class="relative z-10 flex items-center justify-center h-full flex-col">
          <h2 class="text-2xl font-bold text-black-600">TEST 3</h2>
          <p>Texto de ejemplo</p>
          <br>
          <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
    data-preference-id="211813070-a845441a-70bd-4447-a431-a74db8d6a095" data-source="button">
    </script>
        </div>
      </div>

  </div>
</div>
  
